<!DOCTYPE html>
<html>
<head>
	<title>noveo-tp</title>
</head>
<body>
	<header>

	</header>
	<div>
		<nav id="navbar">

		</nav>
		<div id="products">

		</div>
		<div id="panier">

		</div>
	</div>
</body>
</html>